.cover-container {
	background-color:rgb(157, 54, 75);
	height: 100vh;
	width: 100vw;
}

.content {
	position: absolute;
	top: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	right: 0.5em;
	margin: 0;
	background: #f9f4ea;
}